@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

:root {
    --primary-color: #F34C4F;
    --secondary-color: #2b2b2b69;
    --primary-font-color: white;
    --secondary-font-color: #343434;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: var(--primary-color)
}

body,
button,
a {
    font-family: 'Karla', sans-serif;
}

nav {
    text-align: end;
    width: 90vw;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 1rem;
}

nav ul li {
    display: inline-block;
}

section {
    margin-top: 2rem;
    text-align: center;
}

h1,
h2,
p,
a {
    color: var(--primary-font-color);
}

button {
    text-transform: uppercase;
    color: var(--secondary-font-color);
}

.container {
    text-align: center;
    margin-top: 20px;
}

.btn-nav {
    background-color: #34343455;
    padding: 13px 9px 0 9px;
    border-radius: 15px;
}

.btn-nav:hover {
    background-color: #282828a6;
}

.btn-default {
    width: 10rem;
    min-width: 5rem;
    max-width: 10rem;

    border-radius: 5px;
    border-color: white;
    padding: 0.5rem;

    font-weight: 1000;
    font-size: 1.2rem;

    box-shadow: -2px 6px 16px -2px rgba(39, 39, 39, 0.593);
    -webkit-box-shadow: -2px 6px 16px -2px rgba(39, 39, 39, 0.593);
    -moz-box-shadow: -2px 6px 16px -2px rgba(39, 39, 39, 0.593);
}

.btn-default:hover {
    background-color: #e5e5e5
}

.divider {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: thin;
    width: 85vw;
    margin: 2rem auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#modal-finish-timer {
    display: none
}

#modal-finish-timer>div .modal-section {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
}

#modal-finish-timer>div .modal-section p {
    padding-top: 25px;
}

.modal-content {
    width: 33%;
    height: 40%;
    position: absolute;
    top: 30%;
    right: 33%;
    background-color: #291a1a;
    box-shadow: -2px 6px 16px -2px rgba(39, 50, 39, 0.9);
    -webkit-box-shadow: -2px 6px 16px -2px rgba(39, 50, 39, 0.9);
    -moz-box-shadow: -2px 6px 16px -2px rgba(39, 50, 39, 0.9);
}

.modal-options,
.modal-footer {
    width: 100%;
    height: 25%;
}

.modal-options {
    padding-top: 10px;
    text-align: end;
}

.modal-section {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    height: 50%;
}

.modal-footer {
    text-align: center;
}

.btn-close-modal {
    margin-right: 3px;
}

#title-timer-container {
    margin-bottom: 2rem;
    font-size: 2rem;
}

#tasks .header {
    display: inline-flex;
    color: var(--primary-font-color);
}

#title-timer-container h1 {
    text-transform: uppercase !important;
    text-shadow: -1px 3px 2px rgba(0, 0, 0, 0.6);
}

#title-tasks {
    font-size: 1.5rem;
    text-shadow: -1px 3px 2px rgba(0, 0, 0, 0.6);
}

#card {
    width: 30rem;
    margin: auto;
    border-radius: 15px;
    padding-bottom: 3rem;

    background-color: var(--secondary-color);
    color: var(--primary-font-color);
    box-shadow: -2px 6px 16px -2px rgba(39, 39, 39, 0.693);
    -webkit-box-shadow: -2px 6px 16px -2px rgba(39, 39, 39, 0.693);
    -moz-box-shadow: -2px 6px 16px -2px rgba(39, 39, 39, 0.693);
}

#card-timer {
    display: flex;
    place-content: center;
    padding: 1rem;
}

#timer {
    font-size: 8rem;
    font-weight: bold;
    margin-top: 2rem;
}

#increase {
    height: 4rem;
    align-self: end;
    padding-left: 1rem;
}

#decrease {
    height: 4rem;
    align-self: end;
    padding-right: 1rem;
}

a:not(:disabled),
a:not(:disabled),
.btn-default:not(:disabled) {
    cursor: pointer;
}

#card-buttons {
    display: flex;
    place-content: center;
    gap: 1rem;
}